@mixin container($width) {
  width: $width;
  margin: auto;
}
@mixin spread() {
  width:100%;
}
@mixin flex($direction) {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}
@mixin vertical-center() {
  @include flex;
  align-items: center;
}
@mixin content-center() {
  @include vertical-center;
  text-align: center;
}
@mixin border-radius($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}

@mixin circleShape($size) {
  width: $size;
  height: $size;
  @include border-radius(50%);
}
@mixin squareShape($size) {
  width: $size;
  height: $size;
}

@mixin font-gradient($direction, $from, $to) {
  background: linear-gradient($direction, $from, $to);
  background: -o-linear-gradient($direction, $from, $to);
  background: -webkit-linear-gradient($direction, $from, $to);
  background: -moz-linear-gradient($direction, $from, $to);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}

@mixin transition($type, $style, $delay) {
  -moz-transition: $type $style $delay;
  -webkit-transition: $type $style $delay;
  -o-transition: $type $style $delay;
  transition: $type $style $delay;
}