@mixin container($width) {
  width: $width;
  margin: auto;
}
@mixin spread() {
  width:100%;
}

@mixin vertical-center() {
  display: flex;
  align-items: center;
}
@mixin border-radius($rad) {
  border-radius: $rad;
  -moz-border-radius: $rad;
  -webkit-border-radius: $rad;
}

@mixin circleShape($size) {
  width: $size;
  height: $size;
  @include border-radius(50%);
}
@mixin squareShape($size) {
  width: $size;
  height: $size;
}

@mixin font-gradient($direction, $from, $to) {
  background: linear-gradient($direction, $from, $to);
  background: -o-linear-gradient($direction, $from, $to);
  background: -webkit-linear-gradient($direction, $from, $to);
  background: -moz-linear-gradient($direction, $from, $to);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
