@import "base";
@import "fonts";

body {
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 74px;
  padding-right: 66px;
}
@import "header";
@import "howitworks";
@import "slider";
@import "footer";